.hero-title {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4), 6px 6px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-title:hover {
  background-color: #ffafcc; /* Change to any color you want */
  color: rgb(87, 55, 132);
  text-shadow: none; /* Optional, removes 3D effect on hover */
}

.font {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
